body{
  background-color: gold;  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#btn{
  
  background-color: green;
  margin: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: gold;
}

#btn:hover{
  font-weight: bold;
  color:goldenrod;
}